*{box-sizing: border-box;margin: 0;padding: 0;font-family: sans-serif;}
.container{
    width: 1140px;margin: 0 auto;
}
/* body{
    margin-top: 10px;
} */

/* header css start */
.navbar {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 0px 5px;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.logo {
    text-align: center;
}
.menu-bar{
    display: none;
}
.nav-item {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-line{
    text-align: center;
    display: inline;
    padding: 15px 10px;
}
.nav-line a{
    text-decoration: none;
    color: #000;
     /* font-weight: 600; */
    font-size: 14px;
    transition: 1s;
    letter-spacing: 0.8px;
}
.nav-line a:hover{
    color: #f84258;
}

.active{
    font-weight: 600;
}

.c{
    
text-align: center;

padding: 15px 0px;
}
.dropdown-menu{
    position: relative;
}
   
.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 120px;
    background: #000;
    list-style: none;
    display: none;
    transition: 1s;
    z-index: 999;
}

.Dropdown-list a{
    color: #fff;
    padding: 10px;
}
li.Dropdown-list {
    padding: 10px 0;
}
.dropdown-menu:hover .dropdown{
   display: block;
}

/* header css end  */
.slider{
    background: url(../img/slider-img.jpg);
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.row{
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
}
.part-1 {position: absolute;top: 30%;left: 5%;}
.part-1 h1{
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 70px;
}
.part-1 p{
    padding: 30px 0;
}

.part-1 a{
    text-decoration: none;
    background: #f84258;
    padding: 10px 20px;
    color: #fff;
    transition: 1s;
}
.part-1 a:hover{
    color: #000;
}

/* box section css start */
    .box{
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding-bottom: 15px;
    }
  .other {
        padding: 50px 0px;
    }
    
    .rows {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .box i{
        font-size: 20px;
        margin: 0px 25px 0px 0px;
    }
    .box h3{
        font-weight: 300;
        font-size: 22px;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }
    .box p{
        font-weight: 300;
        font-size: 14px;
    }
/* box section css end */

/* about css start  */
.about{
    padding: 20px 0;
}
.row-1 {
    display: grid;
    grid-template-columns: 6fr 6fr;
    text-align: center;
}
.about-img{
    background: url(../img/slider-img.jpg);
    height: 500px;
    padding-top: 25%;
}
.about-img-2{
    background: url(../img/img-3.jpg);
    height: 500px;
    padding-top: 25%;
}
.about-img-3{
    background: url(../img/img-4.jpg);
    height: 500px;
    padding-top: 25%;
    background-position: center;
}

.about-img i{
    color: #f84258;
    padding-bottom: 15px;
    font-size: 22px;
}
.about-img h1{
    font-weight: 300;
    letter-spacing: 5px;
    padding-bottom: 15px;
    font-size: 40px;
}
.about-img p{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 15px;
}

.about-btn{
    padding-top: 25px;
    background-color: #f84258;
    display: inline-block;
    position: relative;
    z-index: 0;
    padding: 20px 40px;
}

.about-btn::after 
{
    content: '';
    position: absolute;
    top:0;
    left:0;
    background: #000;
    color: #fff;
    height: 58px;
    width: 0%;
    transition: 0.3s ease-in-out;
    z-index: -1;
}

.about-btn:hover::after 
{
    width: 100%;
}
.about-button{
    /* border: 1px solid transparent; */
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
  }

.about-button::after{
    /* content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: #000;
    color: #fff;
    right: 0%;
    top: 0;
    margin: 0px 0 0 0px;
    transition: all .3s ease-in-out;
    z-index: -1; */
}
.about-button:hover:after{
    /* width: 100%;
    color: #fff; */
}
/* about css end */

/* box css start  */
section.boxes {
    padding: 25px 0px;
}

.parents {
    text-align: center;
    padding: 10px 0;
}
.parents h3{
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 5px;
}
.parents p{
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 15px;
}
.cart-img-1{
    background: url(../img/4.jpg);
    width: 100%;
    height: 350px;
    transition: 1s;
}
.cart-img-1:hover{
    background: url(../img/1.jpg);
}
.cart-img-2{
    background: url(../img/5.jpg);
    width: 100%;
    height: 350px;
    transition: 1s;
}
.cart-img-2:hover{
    background: url(../img/2.jpg);
}
.cart-img-3{
    background: url(../img/6.jpg);
    width: 100%;
    height: 350px;
    transition: 1s;
}
.cart-img-3:hover{
    background: url(../img/3.jpg);
}
.cart-text p{
    padding: 15px 0px;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 2px;
}
.cart-text h4{
    font-weight: 200;
    letter-spacing: 2px;
    padding: 15px 0px;
}
.cart-line{
    position: relative;
    display: block;
}
.cart-line::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 3px;
    background: #ddd8d8;
}
.cart-line i{
    position: absolute;
    right: 0;
    padding: 15px;
    border-radius: 50px;
    background: #ddd;
    color: #f84258;
    top: -15px;
}
.cart-head{
    display: grid;
    grid-template-columns: 20fr 80fr;
    padding: 15px 0px;
    color: #969292;
}
/* box css end */

/* counter section css start  */
.counter{
    background: url(../img/background-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    padding: 20px 0;
    height: 600px;
}
.rows-3{
    display: grid;
    grid-template-columns: 20fr 65fr 15fr;
}
.col-lg-6 {
    margin: 100px auto;
    /* text-align: center; */
}
.counter-text h2{
    padding: 30px 0px;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 1px;
}
.counter-text p{
    padding: 25px 0px;
    font-weight: 200;
}
.counter-text h3{
    font-size: 36px;
    font-weight: 200;
}
.index{display: inline-block;
padding: 15px;
text-align: center;}

@media (max-width: 500px){
    .counter{
        height: auto;
    }
}